<%= form_for [@cover] do |f| %>
  <% if @cover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cover.errors.count, "error") %> prohibited this cover from being saved:</h2>

      <ul>
      <% @cover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <th>
  <th class="field"><%= f.label :covers %><br><%= f.text_field :covers %></th>
  <th class="field"><%= f.label :covers_group %><br><%= f.text_field :covers_group %></th>
  <th class="field"><%= f.label :turn_time %><br><%= f.text_field :turn_time %></th> 
    </th>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
