<div class="modal-dialog reorder-modal-form">
 <div class="modal-content">
	 <div class="modal-header">
   <h4 class="modal-title">All Covers</h4>
  </div>

  <div class="bordered-box">
   <table class="table" >
    <thead>
     <tr>
      <th>Covers</th>
      <th>Group</th>
      <th>Turn Time</th>
     </tr>
    </thead>
    <tbody>
     <% @venue.covers.each do |cover| %>
      <div id="covers"></div>
      <tr>    
       <td><%= cover.covers %></td>
       <td><%= cover.covers_group %></td>
       <td><%= cover.turn_time %></td>
       <td>
        <%= link_to edit_venue_cover_path(@venue, cover), 
         remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %> Edit
        <%end%>
       </td>
       <td><%= link_to 'Delete', [@venue, cover], method: :delete, data: { confirm: 'Are you sure?' }%> </td>
      </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>