<p id="notice"><%= notice %></p>

<h1> COVERS </h1>

<table class="table">
  <thead>
    <tr>
      <th>Covers</th>
      <th>Group Time</th>
      <th>Turn Time Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @covers.each do |cover| %>
      <tr>
        <td><%= cover.covers %></td>
        <td><%= cover.covers_group %></td>
        <td><%= cover.turn_time %></td>
        <td><%= link_to 'Details', [@organisation, @venue, @cover] %></td>
        <td><%= link_to 'Edit', edit_organisation_venue_cover_path(@organisation, @venue, cover) %></td>
        <td><%= link_to 'Delete', [@organisation, @venue, @cover], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New cover', covers_new_path(@venue) %> 
