<p id="notice"><%= notice %></p>

<h1> COVERS </h1>

<table class="table">
  <thead>
    <tr>
      <th>Covers</th>
      <th>Group Time</th>
      <th>Turn Time Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @covers.each do |cover| %>
      <tr>
        <td><%= cover.covers %></td>
        <td><%= cover.covers_group %></td>
        <td><%= cover.turn_time %></td>
        <td><%= link_to 'Details', [@venue,  @cover]%></td>
        <td><%= link_to 'Edit', edit_customer_path(@venue, cover) %></td>
        <td><%= link_to 'Details', [@venue, @cover] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New cover', new_venue_cover_path(@venue) %> 
