<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Details', [@venue.organisation, @venue] %></li>
            <li><%= link_to 'Bookings RunSheet', organisation_venue_bookings_path(@venue, @organisation) %></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Notes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Organisation</a></li>
          </ul>
        </li>
      </ul>

      <class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default navbar-btn">Grid View</button>
      <button type="button" class="btn btn-default navbar-btn">Floor Plan</button>
      <button type="button" class="btn btn-default navbar-btn">Date Selector to go Here</button>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USERS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">List </a></li>
              <li><a href="#">of </a></li>
              <li><a href="#">Users</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Create New User</a></li>
            </ul>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h1>CUSTOMERS</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Details', [@organisation, @venue, @customer]%></td>
        <td><%= link_to 'Edit', edit_organisation_venue_customer_path(@organisation, @venue, customer) %></td>
        <td><%= link_to 'Delete', [@organisation, @venue, @customer], method: :delete, data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Customer', new_organisation_venue_customer_path %>
<div><%= link_to 'Bookings', organisation_venue_bookings_path %></div>
