<p id="notice"><%= notice %></p>

<body>
<div class="main-container">
<h1><center>CUSTOMERS</center></h1>
<p>This page will show all customers assoiated with the venue. They can be searched, ordered, viewed. List will ideally be linked to FB or other social media with profile pics/links/etc</p>

<!-- Customers Search -->
<div class="row">
<div class="col-md-8"></div>
<div class="col-md-3">
<form class="form" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Customers">
  </div>
</div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
<!-- Customers Search -->

<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Details', [@venue,  @customer]%></td>
        <td><%= link_to 'Edit', edit_customer_path(@venue, customer) %></td>
        <td><%= link_to 'Delete', [@venue,  @customer], method: :delete, data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_venue_customer_path(@venue) %>

<!-- Modal form / New Channel Group -->
<div class="modal fade" id='venue-details-modal-form' role="dialog"></div>

<div class="modal fade" id='opening-hours-modal-form' role="dialog"></div>
<!-- Modal form / New Channel Group -->

</div>
</body>