<p id="notice"><%= notice %></p>

<h1>CUSTOMERS</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Details', [@organisation, @venue, @customer]%></td>
        <td><%= link_to 'Edit', edit_organisation_venue_customer_path(@organisation, @venue, customer) %></td>
        <td><%= link_to 'Delete', [@organisation, @venue, @customer], method: :delete, data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Customer', new_organisation_venue_customer_path %>
<div><%= link_to 'Back to Bookings', organisation_venue_bookings_path %></div>
