<p id="notice"><%= notice %></p>

<p>
  <strong>Tab:</strong>
  <%= @customer.tab_name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @customer.start_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
