<%= form_for [@venue, @hour] do |f| %>
  <% if @hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% @hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <th>
  <th class="field"><%= f.label :day %><br><%= f.text_field :day %></th>
  <th class="field"><%= f.label :open_time %><br><%= f.text_field :open_time %></th>
  <th class="field"><%= f.label :close_time %><br><%= f.text_field :close_time %></th> 
  <th class="field"><%= f.label :interval %><br><%= f.text_field :interval %></th>  
  <th class="field"><%= f.label :covers_per_interval %><br><%= f.number_field :covers_per_interval %></th>
    </th>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
