<p id="notice"><%= notice %></p>

<h1> OPENING HOURS </h1>

<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Opening Time</th>
      <th>Closing Time</th>
      <th>Interval</th>
      <th>Covers per Interval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hours.each do |hour| %>
      <tr>
        <td><%= hour.day %></td>
        <td><%= hour.open_time %></td>
        <td><%= hour.close_time %></td>
        <td><%= hour.interval %></td>
        <td><%= hour.covers_per_interval %></td>
        <td><%= link_to 'Edit', edit_hour_path(@venue, @hours) %></td>
        <td><%= link_to 'Delete', [@venue, @hour], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_venue_hour_path(@venue) %>