<%= form_for [@organisation, @venue, @table] do |f| %>
  <% if @table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% @table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <th>
  <td class="field"><%= f.label :tab %><br><%= f.text_field :tab %></td>
  <td class="field"><%= f.label :section %><br><%= f.text_field :section %></td>
  <td class="field"><%= f.label :min_covers %><br><%= f.text_field :min_covers %></td> 
  <td class="field"><%= f.label :max_covers %><br><%= f.text_field :max_covers %></td> 
  <td class="field"><%= f.label :booking_order %><br><%= f.text_field :booking_order %></td> 
    </th>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
