<p id="notice"><%= notice %></p>

<h1> TABLES </h1>

<table class="table">
  <thead>
    <tr>
      <th>Tables</th>
      <th>Section</th>
      <th>Min Covers</th>
      <th>Max Covers</th>
      <th>Booking Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tables.each do |table| %>
      <tr>
        <td><%= table.tab %></td>
        <td><%= table.section %></td>
        <td><%= table.min_covers %></td>
        <td><%= table.max_covers %></td>
        <td><%= table.booking_order %></td>
        <td><%= link_to 'Details', [@venue.organisation, @venue, @table] %></td>
        <td><%= link_to 'Edit', edit_organisation_venue_table_path(@venue.organisation, @venue, table) %></td>
        <td><%= link_to 'Delete', [@venue.organisation, @venue, @table], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New table' %> 