<p id="notice"><%= notice %></p>

<p>
  <strong>Tabs:</strong>
  <%= @table.tab %>
</p>

<p>
  <strong>Section:</strong>
  <%= @table.section %>
</p>

<p>
  <strong>Min Covers:</strong>
  <%= @table.min_covers %>
</p>

<p>
  <strong>Max Covers:</strong>
  <%= @table.max_covers %>
</p>

<p>
  <strong>Booking Order:</strong>
  <%= @table.booking_order %>
</p>


<%= link_to 'Edit', edit_organisation_venue_table_path(@organisation, @venue, @table) %>


<%= link_to 'Show All tables', organisation_venue_tables_path %>
