<h1>Bookings for User: <% @users.each do |user| %><%= user.name %></h1>
  	<h2>Tabs available: <%= user.number_of_tabs %></h2>
	<p><%= GetDate.generate %></p>
	<p><%= Counter.count %></p>
	<% end %>


<%= link_to 'Back to Users', users_path %>
<%= link_to 'View Customers', customers_path %>
