<p id="notice"><%= notice %></p>

<h1>users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Email</th>
      <th>Start Date</th>
      <th>Opening Time</th>
      <th>Closing Time</th>
      <th>Number of Tabs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= user.start_date %></td>
        <td><%= user.opening_time %></td>
        <td><%= user.closing_time %></td>
        <td><%= user.number_of_tabs %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'View Bookings', users_bookings_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New user', new_user_path %>
