<p id="notice"><%= notice %></p>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN/OUT <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">List </a></li>
              <li><a href="#">of </a></li>
              <li><a href="#">Users</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Create New User</a></li>
            </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to @organisation.name, (@organisation)%></li>    
            <li><%= link_to 'Customers', organisation_customers_path(@organisation)%></li>
            <li><%= link_to 'Users', organisation_users_path(@organisation) %></li>
            <li><%= link_to 'Reports', organisation_reports_path(@organisation) %></li>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>
<h1><center>USERS</center></h1>
<p>This page will show all users assoiated with the organisation. They can be searched, ordered, viewed. List will ideally be linked to FB or other social media with profile pics/links/etc</p>

<!-- Users Search -->
<div class="row">
<div class="col-md-8"></div>
<div class="col-md-3">
<form class="form" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Users">
  </div>
</div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
<!-- Users Search -->

<table class="table center">
  <thead>
    <tr>
      <th>User Name</th>
      <th>Password</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Facebook</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.password %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.facebook %></td>
        <td><%= link_to 'Details', [@organisation, @user]%></td>
        <td><%= link_to 'Edit', edit_organisation_user_path(@organisation, user) %></td>
        <td><%= link_to 'Delete', [@organisation, @user], method: :delete, data: { confirm: 'Are you sure?' } %></td>        
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New user', new_organisation_user_path %>

<!-- Modal form / New Channel Group -->
<div class="modal fade" id='venue-details-modal-form' role="dialog"></div>

<div class="modal fade" id='opening-hours-modal-form' role="dialog"></div>
<!-- Modal form / New Channel Group -->

</body>