<p id="notice"><%= notice %></p>

<p>
  <strong>User Name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Facebook Link:</strong>
  <%= @user.facebook %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Show All users', organisation_organisation_users_path %>
