<div class="modal-dialog reorder-modal-form">
<div class="modal-content">
	<%= bootstrap_form_for([@organisation, @venue, booking], remote: true) do |f| %>
<div class="modal-header">
        <h4 class="modal-title">New Booking</h4>
</div>

<div class="modal-body">
   <%= f.text_field :name %>
   <%= f.text_field :phone %>
   <%= f.text_field :email %>
   <%= f.text_field :start_time %>
   <%= f.text_field :tab_name %>
   <div class="dropdown">
  		<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Table
    	<span class="caret"></span>
 	 	</button>
  	<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  		<% @venue.tables.each do |table| %>
    	<li><a href="#"><%= table.tab %></a></li>
    	<% end%>
  	</ul>
</div>

<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-behaviour="form-clear">Cancel</button>
        <%= f.submit class: "btn btn-primary", data: { trigger: 'loading' } %>
</div>
<% end %>
</div>
</div>