<div class="bordered-box">

<table class="table" >
  <thead>
    <tr>
      <th>Covers</th>
      <th>Group</th>
      <th>Turn Time</th>
     </tr>
  </thead>
    <tbody>
      <% @venue.covers.each do |cover| %>
      <tr>
        <div id="covers"></div>
          <td><%= cover.covers %></td>
          <td><%= cover.covers_group %></td>
          <td><%= cover.turn_time %></td>
          <td><%= link_to 'Edit', edit_cover_path(@venue, cover) %> </td>
          <td><%= link_to 'Delete'%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Details', venue_covers_path(@venue) %>

</div>