<%= form_for [@organisation, @venue] do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :open_time %><br>
    <%= f.datetime_field :open_time %>
  </div>
  <div class="field">
    <%= f.label :close_time %><br>
    <%= f.datetime_field :close_time %>
  </div>
  <div class="field">
    <%= f.label :interval %><br>
    <%= f.text_field :interval %>
  </div>
    <div class="field">
    <%= f.label :covers_per_interval %><br>
    <%= f.number_field :covers_per_interval %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>