<div class="modal-dialog reorder-modal-form">
<div class="modal-content">
	<%= bootstrap_form_for([venue.organisation, venue], remote: true) do |f| %>
<div class="modal-header">
        <h4 class="modal-title">Venue Details</h4>
</div>

<div class="modal-body">
   <%= f.text_field :name %>
</div>
<div class="modal-body">
   <%= f.text_field :phone %>
</div>
<div class="modal-body">
   <%= f.text_field :email %>
</div>
<div class="modal-body">
   <%= f.text_field :address %>
</div>

<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-behaviour="form-clear">Cancel</button>
        <%= f.submit class: "btn btn-primary", data: { trigger: 'loading' } %>
</div>
<% end %>
</div>
</div>