<div class="bordered-box">

<table class="table">
  <thead>
    <tr>
      <th>Day</th>
      <th>Opening Time</th>
      <th>Closing Time</th>
      <th>Interval</th>
      <th>Covers per Interval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venue.hours.each do |hour| %>
      <tr>
        <div id="opening-hours"></div>
          <td><%= hour.day %></td>
          <td><%= hour.open_time %></td>
          <td><%= hour.close_time %></td>
          <td><%= hour.interval %></td>
          <td><%= hour.covers_per_interval %></td>
          <td><%= link_to edit_hour_path(@venue, hour), 
              remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %> 
              <i class="glyphicon glyphicon-pencil"></i>Edit
              <%end%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Details', venue_hours_path(@venue) %>

</div>
