<div class="bordered-box">

<table class="table" >
  <thead>
    <tr>
      <th>Section</th>
      <th>First tab</th>
      <th>Last tab</th>
      <th>Bookable</th>
     </tr>
  </thead>
    <tbody>
      <% @venue.sections.each do |section| %>
      <tr>
        <div id="sections"></div>
          <td><%= section.section %></td>
        <td><%= section.first_num %></td>
        <td><%= section.last_num %></td>
        <td><%= section.bookable %></td>
        <td><%= link_to 'Edit', edit_venue_section_path(@venue, section) %> </td>
          <td><%= link_to 'Delete', [@venue, section], method: :delete, data: { confirm: 'Are you sure?' }%> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_venue_section_path(@venue), 
  remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %> New
<%end%>

</div>
