<%= render "venues/nav", venue: @venue %>

<body>
<div class="main-container">
<!-- Venue Details Views -->
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<h1><center><strong><%= @venue.name %></center></strong></h1>

<div><center>
  <strong>PH </strong><%= @venue.phone %> | 

  <strong>EMAIL </strong><%= @venue.email %> |

  <strong>ADDRESS </strong><%= @venue.address %>
</center></div>

<br>
<center><%= link_to 'All venues', organisation_venues_path %> | 
  <%= link_to edit_organisation_venue_path(@venue.organisation, @venue), 
remote: true, id: "new-item-link", class: "btn btn-sm btn-default round" do %> 
  <i class="glyphicon glyphicon-pencil"></i>Update Details
<%end%> | 

<%= link_to @organisation.name, organisation_path(@venue.organisation) %></center>
<!-- <li><%= link_to @organisation.name, organisation_path(@venue.organisation, @organisation) %></li> -->
</div>
<div class="col-md-4"></div>
</div>
<!-- Venue Details Views -->

<div class="row">
<div class="col-md-6">
  <%= render "venues/covers", venue: @venue %>
  <%= render "venues/opening_hours", venue: @venue %>
</div>
<div class="col-md-6">
  <%= render "venues/sections", venue: @venue %>
  <%= render "venues/tables", venue: @venue %>
</div>
</div>
<!-- Venue Details Views -->


<!-- Modal form / New Channel Group -->
<div class="modal fade" id='venue-details-modal-form' role="dialog"></div>

<div class="modal fade" id='new-hour-modal-form' role="dialog"></div>

<div class="modal fade" id='edit-hour-modal-form' role="dialog"></div>

<div class="modal fade" id='covers-modal-form' role="dialog"></div>

<div class="modal fade" id='new-cover-modal-form' role="dialog"></div>

<div class="modal fade" id='edit-cover-modal-form' role="dialog"></div>

<div class="modal fade" id='new-section-modal-form' role="dialog"></div>

<div class="modal fade" id='edit-section-modal-form' role="dialog"></div>

<div class="modal fade" id='new-table-modal-form' role="dialog"></div>

<div class="modal fade" id='edit-table-modal-form' role="dialog"></div>
<!-- Modal form / New Channel Group -->

</div>
</body>