<p id="notice"><%= notice %></p>

<body>
<div class="main-container">

<h1><center>GRID VIEW</center></h1>

<!--this is not actually what I want to do. I need to find a way to access the opening info for 1 specific day and venue-->
  <table class="table">
    <thead>
      <tr>
        <th>Tab#</th>
      <th>
        <%= @hour.open_time %>   
      </th>   
      </tr>  
    </thead>

    <tbody>
        
        <% @venue.tables.each do |table| %>
          <tr>
            <td>TEST
              <%= render "tables/tab", table: @table %>
              <%= table.tab %>
            </td>

            <td>
              <%= render "grids/field", grid: @grid %>
            </td>

          </tr>
        <%end%> 
    </tbody>
  </table>


<!-- Modal form / New Channel Group -->
<div class="modal fade" id='new-booking-modal-form' role="dialog"></div>
<div class="modal fade" id='venue-details-modal-form' role="dialog"></div>
<!-- Modal form / New Channel Group -->

</div>
</body>

