<div class="modal-dialog reorder-modal-form">
<div class="modal-content">
	<%= bootstrap_form_for([@organisation, @venue, section], remote: true) do |f| %>
<div class="modal-header">
        <h4 class="modal-title">Edit section</h4>
</div>

<div class="modal-body">
   <%= f.text_field :section %>
   <%= f.text_field :first_num %>
   <%= f.text_field :last_num %>
   <%= f.text_field :bookable %>
</div>

<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-behaviour="form-clear">Cancel</button>
        <%= f.submit class: "btn btn-primary", data: { trigger: 'loading' } %>
</div>
<% end %>
</div>
</div>