<p id="notice"><%= notice %></p>

<h1> Sections </h1>

<table class="table">
  <thead>
    <tr>
      <th>Section</th>
      <th>First tab</th>
      <th>Last tab</th>
      <th>Bookable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.section %></td>
        <td><%= section.first_num %></td>
        <td><%= section.last_num %></td>
        <td><%= section.bookable %></td>
        <td><%= link_to 'Edit', edit_section_path(@venue, section) %></td>
        <td><%= link_to 'Delete', [@venue, @section], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_venue_section_path(@venue) %>