<p id="notice"><%= notice %></p>

<p>
  <strong>sections:</strong>
  <%= @section.sections %>
</p>

<p>
  <strong>Group:</strong>
  <%= @section.sections_group %>
</p>

<p>
  <strong>Turn Time:</strong>
  <%= @section.turn_time %>
</p>


<%= link_to 'Edit', edit_organisation_venue_section_path(@organisation, @venue, @section) %>


<%= link_to 'Show All sections', organisation_venue_sections_path %>
