<!DOCTYPE html>
<html>
 <head>
  <title>Reservations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 </head>

 <body class="venue">
  <nav class="navbar navbar-default">
   <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
      <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU <span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><%= link_to  @venue.name, venue_path(@venue)%></li>
        <li><%= link_to 'Staff' %></li>
        <li role="separator" class="divider"></li>
       </ul>
      </li>
     </ul>

     <class="btn-group" role="group" aria-label="..."> 
      <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Run Sheet', runsheet_path(@venue) %></button>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Grid View', grid_path(@venue) %></button>
      <button type="button" class="btn btn-default navbar-btn"><%= link_to 'Floor Plan', plan_path(@venue) %></button>
      <button type="button" class="btn btn-default dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Date Selector<span class="caret"></span></a>
       <ul class="dropdown-menu">
        <% @venue.hours.each do |hour| %>
         <div><%= link_to hour.day, [@venue] %></div>
        <% end %> 
       </ul>
      </button>

      <ul class="nav navbar-nav navbar-right">      
       <button type="button" class="btn btn-default"><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
      <button type="button" class="btn btn-default"><%= link_to 'Edit account', edit_user_registration_path %></button>
       </button>
      </ul>
    </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
    </div>
    <%= yield %>
  </div>
 </body>
</html>